{% extends "base.html" %}

{% block content %}
<h1><a href="/blog">CS 253 Blog</a></h1>
<hr>
{% if not posts %}
    <div class="post">
        {% if not post.content %}
            <div>Looks like there's no post listed.</div>
        {% endif %}
        <div class="post-heading">
            <div class="post-title">{{post.subject}}</div>
            <div class="post-date">{{post.created.strftime("%b, %d, %Y")}}</div>
        </div>
        <div class="post-content">{{post.content}}</div>
    </div>
{% endif %}
{% for post in posts %}
    <div class="post">
        <div class="post-heading">
            <div class="post-title">{{post.subject}}</div>
            <div class="post-date">{{post.created.strftime("%b, %d, %Y")}}</div>
        </div>
        <div class="post-content">{{post.content}}</div>
    </div>
{% endfor %}
<div><a href="/blog/newpost">Write New Post</a></div>
{% endblock %}